/* currently employed on my index.html page */
body {
    background-image: url('https://media.tenor.com/e2TLdJ7Dr14AAAAC/sh.gif');
    background-size: cover; 
    background-attachment: fixed;
    background-position: top;
  /*   font-fam\ly: system-ui; */
  /*   color: #abcdef; */
  /*   text-align: center; */
}
.centered-box {
/*           width: 300px;  */
  margin: 0 auto; 
  background-color: rgba(41, 125, 182, 0.5); 
  position: relative; 
  top: 120px; 
  padding: 20px; 
  text-align: center;
  font-family: 'didot', serif;
  font-size: 20px;
  color: #fff; 
  border-radius: 5px;
}

.badass_button {
  background-color: rgba(38, 94, 69, 0.5); 
  outline: 3px solid rgba(41, 82, 64, 0.8);
  color: #c9c9a5;
}

.badass_button:hover {
  background-color: rgba(38, 94, 69, 0.7); 
  outline: 3px solid rgba(41, 82, 64, 0.9); 
  color: #d6d6ae;
  }

.sad_button {
  background-color: rgba(127, 107, 144, 0.5); 
  outline: 3px solid rgba(124, 77, 144, 0.8);
  color: #c9c9a5;
}

.sad_button:hover {
  background-color: rgba(101, 85, 115, 0.5); 
  outline: 3px solid rgba(94, 59, 110, 0.8);
  color: #d6d6ae;
}

#_2, #_3 {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  font-size: 30px; 
  font-family: 'georgia', serif;
  transition: background-color 0.3s, color 0.3s, outline 0.3s;
}

