body {
    background-image: url('https://media.tenor.com/e2TLdJ7Dr14AAAAC/sh.gif');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.centered-box {
  margin: 0 auto;
  background-color: rgba(41, 125, 182, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  font-family: 'didot', serif;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
}

.left-box{
  display: inline-block;
  text-align: left;
  width: fit-content;
}

a{
  text-decoration: none;
  color: #c9c9a5;
}
