body {
    background-color: #a8afd9;
    background-image: url('media/pasatel.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.centered-box {
    margin: 0 auto;
    background-color: #448dc4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    font-family: 'didot', serif;
    font-size: 20px;
    color: white;
    mix-blend-mode: multiply;
    border-radius: 12px;
    min-width: 30vw;
}

.left-box{
    display: inline-block;
    text-align: left;
    width: fit-content;
}

a{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 800px)  {
    .centered-box {
        min-width: 72vw;
        background-color: red;
    }

    html, body {
        overflow: hidden !important;
    }
}
