@font-face {
    font-family: 'Agbalumo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/agbalumo/v2/55xvey5uMdT2N37KZfMCgLhW87DI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: #254e54;
    background-image: url('https://krita-artists.org/uploads/default/original/3X/b/5/b5a6cac11941a39487bc4f7455575bce7b2ab800.gif');
    /* background-size: cover;  */
    /* background-repeat: no-repeat;  */
    /* background-attachment: fixed; */
}

.centered-box {
    width: 300px; /* Set the desired width */
    margin: 0 auto; /* Center the box horizontally */
    /* background-color: rgba(41, 125, 182, 0.5);  */
    position: relative; 
    top: 50px; /*how low down the page it starts */
    padding: 20px; /* Add some padding for text inside the box */
    text-align: center; /* Center the text horizontally within the box */
    font-size: 30px;
    font-family: 'Agbalumo', serif;
    color: #e0dac5; /* Text color */
}

a { /*link*/
    color: #e0dac5;
    text-decoration: none; 
}