body{
    background-image: url('https://i.gifer.com/g32K.gif');
    background-size: cover;
    background-color: rgb(16, 43, 50);
}
.my_button {
    display: inline-block;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    background-color: #4caf50; /* Green background color */
    color: white; /* White text color */
    font-size: 36px; /* Font size */
    font-family: 'Arial', sans-serif;
    border-radius: 15px; /* Optional: Add rounded corners */
    transition: background-color 0.3s;
}

.my_button:hover {
    background-color: #2e6730; /* Darker green on hover */
}

.gif-button {
    display: inline-block;
    padding: 50px 50px;
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmNhMTQ2MjYzcWhpNDFtcW52eDdtbXF3YTBlNWEzejF3OXpnYm95cCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/kravBhdlxib6MFBBJU/giphy.gif'); 
    background-size: cover;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 20px; 
    left: 20px;
  }