body{
  font-family: "Numans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.gif-button {
  display: inline-block;
  padding: 50px 50px;
  background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmNhMTQ2MjYzcWhpNDFtcW52eDdtbXF3YTBlNWEzejF3OXpnYm95cCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/kravBhdlxib6MFBBJU/giphy.gif');
  background-size: cover;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
}
