body{
    background-color: rgb(16, 43, 50);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
.my_button {
    position: relative;
    margin-top: 4px;
    margin-bottom: 10vh;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    background-color: #1e491f62; 
    color: rgb(254, 245, 220); 
    font-size: 36px;
    font-family: 'georgia', sans-serif;
    border-radius: 15px; 
    transition: padding 0.3s, margin-top 0.3s, background-color 0.3s;
}

.my_button:hover {
    padding: 18px 46px;
    margin-top: 0px;
    background-color: #1e491ff4;
}

.another_button{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-family: 'georgia', sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #6b2d2d;
    border-radius: 13px;
    background-color: #f79595;
    color: #2c2c2c;
    transition: background-color 2s ease;
  }

.gif-button {
    display: inline-block;
    padding: 50px 50px;
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmNhMTQ2MjYzcWhpNDFtcW52eDdtbXF3YTBlNWEzejF3OXpnYm95cCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/kravBhdlxib6MFBBJU/giphy.gif'); 
    background-size: cover;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: fixed;
    top: 20px; 
    left: 20px;
}

.fade {
    width : 100vw;
    height : 100vh;
    background-color: rgba(255,255,255,0.1);
    position: fixed;
    top: 0;
    left: 0;
}

.swamp {
    width : 100vw;
    height : 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('https://i.gifer.com/g32K.gif');
    background-size: cover;
}

.centered-box {
    margin: 10vh;
    background-color: rgb(213, 202, 158); 
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -30%); */
    padding: 20px; 
    text-align: center;
    font-family: 'didot', serif;
    font-size: 20px;
    color: #38280e; 
    border-radius: 5px;
    /* margin-bottom: 200px; */
  }