body {
    margin: 0;
    overflow: hidden;
    cursor: none;
    background-color: #1f052c;
}

.star {
    position: absolute;
    /* background-color: #fff; */
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Four_points_star.svg/2066px-Four_points_star.svg.png);
    background-size: cover; 
    background-position: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none; 
    opacity: 1;
    animation: fadeOut 1.5s ease-out; 
}

.chonky_star {
    position: absolute;
    /* background-color: #fff; */
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4f/Star-alt-icon.png);
    background-size: cover; 
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: none; 
    opacity: 1;
    animation: fadeOut 5s ease-out; 
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.gif-button {
    display: inline-block;
    padding: 40px 40px;
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmNhMTQ2MjYzcWhpNDFtcW52eDdtbXF3YTBlNWEzejF3OXpnYm95cCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/kravBhdlxib6MFBBJU/giphy.gif'); 
    background-size: cover;
    border: none;
    border-radius: 5px;
    position: absolute;
    cursor: none;
    top: 20px; 
    left: 20px;
}

.cursor_hiding {
    width : 100vw;
    height : 100vh;
    cursor: none;
}

