body {
  margin: 0;
  background-color: #f2eee1;
  background-image: url('user/pattrn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

#title {
  text-align: center;
  font-size: 10vw;
  margin-top: 5vh;
  margin-bottom: calc(10px + 3vh);
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#signup {
  margin-top: 5vh;
  height: 110px;
}

.disc {
  font-family: "EB Garamond", serif;
  font-size: calc(20px + 1vw);
  font-weight: 450;
  font-style: normal;
  text-align: center;
  margin-top: 1vh;
}

#leftcol {
  float: left;
  display: block;
}

#rightcol {
  float: left;
  display: block;
  vertical-align: middle;
  margin-left: 25px;
  height: 110px;
}

.butt {
  font-family: "EB Garamond", serif;
  font-size: 17px;
  font-weight: 500;
  height: 70%;
  margin-top: 15%;
  width: 100px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 8px;
}

.butt:hover {
  cursor: pointer;
}

.imp, .imp:focus {
  background: none;
  border: none;
  outline:none;
  border-bottom: 4px solid black;
  font-family: "EB Garamond", serif;
  font-size: 20px;
}

.gif-button {
  display: inline-block;
  padding: 50px 50px;
  background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmNhMTQ2MjYzcWhpNDFtcW52eDdtbXF3YTBlNWEzejF3OXpnYm95cCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/kravBhdlxib6MFBBJU/giphy.gif');
  background-size: cover;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  left: 20px;
  /* background-color: rgba(89, 86, 86, 0.25); */
}
