.cont {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.data {
    color:blueviolet;
    background-color: antiquewhite;
    border: 1px solid rgb(95, 95, 95);
}